# Quail catch-all transport
virtual_alias_domains = m.cst.ro
virtual_alias_maps = hash:/etc/postfix/virtual
# 10 MB; keep in sync with QUAIL_MAX_MESSAGE_SIZE_MB if customized.
message_size_limit = 10485760
