# Quail configuration
QUAIL_DATA_DIR=/var/lib/quail
QUAIL_EML_DIR=/var/lib/quail/eml
QUAIL_ATTACHMENT_DIR=/var/lib/quail/att
QUAIL_DB_PATH=/var/lib/quail/quail.db
QUAIL_MAX_MESSAGE_SIZE_MB=10
QUAIL_DOMAINS=m.cst.ro
QUAIL_BIND_HOST=127.0.0.1
QUAIL_BIND_PORT=80
